* {
    margin: 5;
    padding: 5;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: purple;
}

body{
    padding-bottom: 500px;
}

.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}